<ion-menu contentId="main" type="overlay">
  <ion-content>
    <div class="menu-brand">
      <div class="menu-brand-mark">M</div>
      <div>
        <p class="menu-eyebrow">MILKSWIFT</p>
        <h1>Milk products</h1>
      </div>
    </div>

    <ion-list id="inbox-list">
      <ion-list-header>Menu</ion-list-header>

      <ion-menu-toggle *ngFor="let p of appPages" [autoHide]="false">
        <ion-item
          [routerLink]="[p.url]"
          routerDirection="none"
          lines="none"
          [detail]="false"
          routerLinkActive="selected"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <ion-icon aria-hidden="true" slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>

    <ion-note class="menu-footer">Fresh ideas, thoughtfully made.</ion-note>
  </ion-content>
</ion-menu>
